<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Xrm.Client.2011" version="5.0.18" targetFramework="net40" />
  <package id="Microsoft.Xrm.Sdk.2011" version="5.0.18" targetFramework="net40" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net40" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
  <package id="SEV.Crm.ServiceContext" version="1.0.0.0" targetFramework="net40" />
</packages>