<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.xrm.client" type="Microsoft.Xrm.Client.Configuration.CrmSection, Microsoft.Xrm.Client" />
  </configSections>
  <microsoft.xrm.client>
    <contexts>
      <add name="Xrm" type="Sample.Crm.Entities.XrmServiceContext, Sample.Crm.Entities" />
    </contexts>
    <services>
      <add name="Xrm" type="Microsoft.Xrm.Client.Services.OrganizationService, Microsoft.Xrm.Client" />
    </services>
  </microsoft.xrm.client>
  <connectionStrings>
    <add name="Xrm" connectionString="Server='Server Url'; Domain='Domain'; Username='Username'; Password='Password'" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
