<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.xrm.client" type="Microsoft.Xrm.Client.Configuration.CrmSection, Microsoft.Xrm.Client" />
  </configSections>
  <microsoft.xrm.client>
    <contexts>
      <add name="Xrm" type="Microsoft.Xrm.Client.CrmOrganizationServiceContext, Microsoft.Xrm.Client" serviceName="Xrm" />
    </contexts>
  </microsoft.xrm.client>
  <connectionStrings>
     <!--For testing only--> 
    <add name="Xrm" connectionString="Server=http://testurl.net; Domain=XXX; Username=YYY; Password=ZZZ" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
